<div class="sidebar" role="navigation" style="z-index:2; margin-top:-4%;">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="active"><a href="/Home/Index" class="material-ripple"><i class="material-icons">home</i> Ana  Sayfa</a></li>
            <li><a href="/AnalysisGrid/Index" class="material-ripple"><i class="material-icons">bookmark</i> Analiz Grid</a></li>
            <li>
                <a href="#" class="material-ripple"><i class="material-icons">devices_other</i>Ürün Analiz<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="login.html">Menu</a></li>
                    <li><a href="register.html">Menu</a></li>
                    <li><a href="profile.html">Menu</a></li>

                </ul>
            </li>

            <li>
                <a href="#" class="material-ripple"><i class="material-icons">perm_contact_calendar</i> Müşteri Analizi <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="buttons.html">Menu</a></li>
                    <li><a href="tabs.html">Menu</a></li>
                    <li><a href="notification.html">Menu</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="material-ripple"><i class="material-icons">bubble_chart</i> Markalar<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="charts_flot.html">Menu</a></li>
                    <li><a href="charts_Js.html">Menu</a></li>
                    <li><a href="charts_morris.html">Menu</a></li>
                </ul>
            </li>
          @*   <li>
                <a href="#" class="material-ripple"><i class="material-icons">drafts</i> Mailbox<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="mailbox.html">Mailbox<span class="nav-tag green">3</span></a></li>
                    <li><a href="mailDetails.html">Mailbox Details<span class="nav-tag yellow">2</span></a></li>
                    <li><a href="compose.html">Compose<span class="nav-tag red">9</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="material-ripple"><i class="material-icons">business</i> Tables<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="table.html">Simple tables</a></li>
                    <li><a href="dataTables.html">Data tables</a></li>
                    <li><a href="footable.html">FooTable</a></li>
                    <li><a href="x-editable.html">X-editable</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="material-ripple"><i class="material-icons">assignment</i> Forms<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="forms_basic.html">Basic Forms</a></li>
                    <li><a href="form_input_group.html">Input group</a></li>
                    <li><a href="form-mask.html">Form Mask</a></li>
                    <li><a href="form_touchspin.html">Touchspin</a></li>
                    <li><a href="form_select.html">Select</a></li>
                    <li><a href="forms_validation.html">Validation Forms</a></li>
                    <li><a href="forms_cropper.html">Cropper</a></li>
                    <li><a href="form_file_upload.html">Forms File Upload</a></li>
                    <li><a href="forms_editor_ck.html">CK Editor</a></li>
                    <li><a href="forms_editor_summernote.html">Summernote</a></li>
                    <li><a href="form_wizard.html">Form Wizaed</a></li>
                    <li><a href="forms_editor_markdown.html">Markdown</a></li>
                    <li><a href="forms_editor_trumbowyg.html">Trumbowyg</a></li>
                    <li><a href="form_editor_wysihtml5.html">Wysihtml5</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="material-ripple"><i class="material-icons">map</i> Maps<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="maps_amcharts.html">Amcharts Map</a></li>
                    <li><a href="maps_gmaps.html">gMaps</a></li>
                    <li><a href="maps_data.html">Data Maps</a></li>
                    <li><a href="maps_jvector.html">Jvector Maps</a></li>
                    <li><a href="maps_google.html">Google map</a></li>
                    <li><a href="maps_snazzy.html">Snazzy Map</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="material-ripple"><i class="material-icons">insert_emoticon</i> Icons<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="icons_bootstrap.html">Bootstrap Icons</a></li>
                    <li><a href="icons_fontawesome.html">Fontawesome Icon</a></li>
                    <li><a href="icons_flag.html">Flag Icons</a></li>
                    <li><a href="icons_material.html">Material Icons</a></li>
                    <li><a href="icons_weather.html">Weather Icons </a></li>
                    <li><a href="icons_line.html">Line Icons</a></li>
                    <li><a href="icons_pe.html">Pe Icons</a></li>
                    <li><a href="icon_socicon.html">Socicon Icons</a></li>
                </ul>
            </li>
            <li><a href="widgets.html"><i class="material-icons">widgets</i>Widgets<span class="nav-tag green">new</span></a></li>
            <li><a href="calender.html"><i class="material-icons">perm_contact_calendar</i>Calendar<span class="nav-tag red">3</span><span class="nav-tag green">5</span><span class="nav-tag yellow">8</span></a></li>
            <li class="nav-heading "> <span>Extra&nbsp;&nbsp;&nbsp;&nbsp;------</span></li>
            <li>
                <a href="#" class="material-ripple"><i class="material-icons">stay_current_portrait</i>App Views<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="invoice.html">Invoice</a></li>
                    <li><a href="timeline.html">Vertical timeline</a></li>
                    <li><a href="horizontal_timeline.html">Horizontal timeline</a></li>
                    <li><a href="pricing.html">Pricing Table</a></li>
                    <li><a href="slider.html">Slider</a></li>
                    <li><a href="carousel.html">Carousel</a></li>
                    <li><a href="code_editor.html">Code editor</a></li>
                    <li><a href="gridSystem.html">Grid System</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="material-ripple"><i class="material-icons">invert_colors</i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li> <a href="#">Second Level Item</a></li>
                    <li><a href="#">Second Level Item</a></li>
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a href="#">Third Level Item</a></li>
                            <li><a href="#">Third Level Item</a></li>
                            <li><a href="#">Third Level Item</a></li>
                            <li><a href="#">Third Level Item</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="blank.html" class="material-ripple"><i class="material-icons">check_box_outline_blank</i> Blank page</a></li> *@
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>