@using CompetitionAnalysis.Core.Features.CompanyFeatures.Categoies.Model
@using CompetitionAnalysis.Core.Features.CompanyFeatures.Categoies.Query.GetAllCategory
@using DevExtreme.AspNet.Mvc
@model List<GetAllCategory>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Kategori Listesi</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @(
                        Html.DevExtreme().DataGrid<CategoryModel>()
                        .DataSource(d => d.Mvc()
                        .Controller("Admin")
                        .LoadAction("CategoriesList")
                        .InsertAction("InsertCagegory")
                        .Key("Id"))
                        .ID("Id")
                        .ColumnChooser(cc => cc.Enabled(true).Mode(GridColumnChooserMode.Select))
                        .ColumnMinWidth(100)
                        .ColumnAutoWidth(true)
                        .ShowColumnLines(false)
                        .ShowRowLines(true)
                        .RowAlternationEnabled(true)
                        .ShowBorders(false)
                        .Paging(paging => paging.PageSize(20))
                        @* .Editing(e => e.Mode(GridEditMode.Popup)
                        .AllowUpdating(true)
                        .AllowAdding(true)
                        .AllowDeleting(true)
                        .Popup(p => p
                        .Title("KATEGORİ EKLE")
                        .ShowTitle(true)
                        .Width(600)
                        .Height(255)
                        )
                        .Form(f => f.Items(items =>
                        {
                            items.AddGroup()
                            .ColCount(2)
                            .ColSpan(2)
                            .Items(groupItems =>
                            {
                                groupItems.AddSimpleFor(m => m.CategoryName).Editor(x => x.TextBox().Width(400)
                            );
                            });
                        }))
                        ) *@
                        .Pager(pager =>
                        {
                            pager.Visible(true);
                            pager.DisplayMode(GridPagerDisplayMode.Full);
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new JS("[5, 10, 30, 70, 120,'all']"));
                            pager.ShowInfo(true);
                            pager.ShowNavigationButtons(true);
                        })
                        .Columns(columns =>
                        {
                            @*  columns.Add().Caption("İŞLEM").CssClass("btnx btn-infox btn-smx")
                    .CellTemplate(@<text>
                    <input type="button" class="btnx btn-infox btn-smx" onclick="location.href='@Url.Action("", "")/<%= data.Id %>';" value="Detay" />
                    </text>);
                    *@
                            columns.AddFor(m => m.CategoryName).Caption("KATEGORİ ADI").CssClass("text-left text-uppercase");
                            columns.AddFor(m => m.CreatedDate).Caption("OLUŞTURMA TARİHİ").CssClass("text-left text-uppercase");
                        })
                        .FilterRow(f => f.Visible(true))
                        .HeaderFilter(f => f.Visible(true))
                        .Height(750)
                        .FocusedRowEnabled(true)
                        .FocusedRowKey(1)
                        .ElementAttr("class", "")
                        .Grouping(g => g.AutoExpandAll(false))
                        )

                </div>
            </div>
        </div>     
        
    </div>
</div>