@using CompetitionAnalysis.Core.Features.CompanyFeatures.Customer.Commands
@model CreateCustomerCommand
@{
    ViewData["Title"] = "CreateCustomer";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/Admin/Admin">Ana Sayfa</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Rakip Ekle</a></li>
            </ol>
        </div>
        <div class="row">

            <div class="card-body">
                <div class="table-responsive">
                    <div class="col-xl-6 col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="basic-form">
                                    <form method="post" asp-controller="Customer" asp-action="CreateCustomer" class="my-3">

                                        <div class="form-group">
                                            <label asp-for="Name">Rakip Adı</label>
                                            <input asp-for="Name" name="Name" class="form-control" placeholder="Rakip Adı">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <br />
                                        <button type="submit" class="btn btn-primary">Rakip Adı Oluştur</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
